## Задача кластеризации
### Выбор оптимального расположения рекламных баннеров на основе информации о перемещениях потенциальных клиентов туристической компании

импорт библиотек

In [537]:
import pandas as pd

In [538]:
import numpy as np

In [539]:
# считываем файл с данными
# удаляем пробелы внутри данных (после разделителя)
# сразу удаляем строки, где есть пропуски данных
data = pd.read_csv('checkins.dat', sep='|', header=0, skipinitialspace=True, low_memory=False).dropna()

In [540]:
data.head()

,id,user_id,venue_id,latitude,longitude,created_at
2,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
4,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
8,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
10,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
11,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18

In [541]:
data.shape

(396634, 6)

In [542]:
data.keys()

Index([u'id    ', u'user_id ', u'venue_id ', u'latitude      ',
       u'longitude     ', u'created_at      '],
      dtype='object')

В названиях столбцов есть пробелы. Их нужно удалить:

In [543]:
data.columns = [col.strip() for col in data.columns]

#2 других варианта
#data.columns = [data.keys()[i].strip() for i in range(len(data.keys()))]
#data.columns = [data.keys()[i].replace(' ', '') for i in range(len(data.keys()))]

In [544]:
data.keys()

Index([u'id', u'user_id', u'venue_id', u'latitude', u'longitude',
       u'created_at'],
      dtype='object')

Импортируем классификатор-кластеризатор MeanShift. Он основан на отслеживании градиента плотности распределения. Кластеризация начинается из каждой точки и движется в сторону увеличения градиента до локального максимума. Происходит как-бы конденсация с центрами в локальных максимумах.

In [545]:
from sklearn.cluster import MeanShift

In [546]:
# Формируем вектор для обучения: вырезаем координаты и ограничиваемся 100000 строк для сокращения времени вычислений
X = data[['latitude','longitude']][:100000]

In [547]:
# формируем кластеризатор, обучаем, считываем метки кластеров, координаты центров кластеров и подсчитываем число кластеров 

ms = MeanShift(bandwidth=0.1)
ms.fit(X)
labels = ms.labels_
cluster_centers = ms.cluster_centers_

labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

print("number of estimated clusters : %d" % n_clusters_)

number of estimated clusters : 3230

In [548]:
# файл координат центров (видим, что получилось 3230 кластеров)
cluster_centers.shape

(3230L, 2L)

In [549]:
# тестируем метки классов
print labels[:100]

[   5    7   30   66    1   23    0    1    2    8    1    2    1  137  237
   11    2    1  504   45   22    1    5   32   47   11    4 1004   51   48
    3    3  397  915    0    0   38 2213    1    6    1   79    1    6  145
   10  612  267   10   14   10   10    4   30  353   32   12    3  190   28
  353   20  416  188    3   59 1013    1   12    1    1  211    0  133   94
    1    1    1    1    1  151    6  481  374  147    8    3  359    1   23
    1    1  261    6  674    5  512    3   10    0]

In [550]:
# тест
labels_unique

array([   0,    1,    2, ..., 3227, 3228, 3229], dtype=int64)

In [551]:
# тест
len(labels)

100000

In [552]:
# выведем координаты первых 100 кластеров для визуализации на https://www.mapcustomizer.com через функцию Bulk Entry
for i in range(100):
    print cluster_centers[i][0], cluster_centers[i][1]

40.7177163973 -73.9918354199
33.4494380502 -112.00213969
33.4463802704 -111.901887562
41.8782437797 -87.6298433623
37.6886815741 -122.409330374
38.8861652156 -77.0487833307
33.3573445623 -111.822654108
33.7666362322 -84.3932891848
42.3632186398 -71.0736876086
47.6062447174 -122.332043826
36.117229143 -115.171073423
34.0603975546 -118.248709027
44.9779478203 -93.2673008853
30.267183617 -97.7431192813
40.76687624 -73.8333534905
39.7358301526 -104.986580428
39.951680373 -75.1627359239
34.0354869531 -118.438997719
32.9808933822 -117.078117978
32.8030205353 -96.7698974349
37.3478711439 -121.947287224
28.5435015466 -81.3764286229
32.7113444339 -117.153638748
32.2217131518 -110.926535153
34.1274022191 -118.351883725
29.7626977547 -95.3823137047
43.0405328168 -87.914332566
33.8173064339 -117.891249171
37.390292432 -122.087286436
25.78581242 -80.2179380368
45.5234832146 -122.676280421
33.5697346035 -112.314015838
33.6743026598 -117.858789268
-6.21276665639 106.844659812
27.9494460796 -82.4650736
34.160210385 -118.223616573
39.1000948756 -94.5824387017
35.227263381 -80.8431816171
43.6529502219 -79.3826088698
37.79314222 -122.266383272
39.9968324051 -82.9999549332
39.7684502806 -86.1582494342
33.8729860116 -118.362091147
47.645224584 -122.168674816
39.2862503078 -76.614669291
34.0489281 -111.0937311
40.4391746445 -79.9956503328
34.1314601492 -118.118011806
40.7666683193 -74.1924955489
37.5437249374 -122.302308562
33.6508959929 -117.752073973
33.8098779553 -118.148923807
40.8701482608 -73.8593886399
29.4249166324 -98.4936241079
41.4874845304 -81.7074692621
26.1208626586 -80.1589066802
35.7713142228 -78.6367140966
38.645525338 -90.22935879
51.5029912609 -0.12553728871
44.9620340678 -93.1191077966
38.5815330878 -121.495651457
40.708071024 -73.5844003195
38.9852215236 -77.4059723361
38.868320419 -77.2433993562
34.0912975346 -117.980389453
39.1285678085 -84.5030926995
40.7595999548 -111.896077779
37.542944669 -77.4685887934
36.164203998 -86.7814398082
35.2013516 -111.639249
49.2401719783 -123.111860223
40.0149856 -105.2705456
39.0056565492 -77.1265309818
32.8775840594 -97.014731469
40.9847183989 -73.7742390972
34.0618855737 -117.671784578
41.2535275 -95.9993827782
40.4888751896 -74.4226114902
29.966228186 -90.0772990205
41.8543565006 -87.8568999485
42.0652007133 -87.80762188
37.6930336787 -122.097844778
44.8847971196 -93.3270322914
30.3326448916 -81.6543053277
40.7258096394 -74.2991960394
43.0728378947 -89.3999034224
40.6242288329 -74.225849339
33.8883253428 -118.048928172
42.8999361257 -78.8734140681
38.9858973366 -94.6722020437
34.1981820709 -118.549276808
33.0118233943 -96.7015866191
26.0100982493 -80.1999905857
34.0560122326 -84.3168902726
40.6099185881 -74.1194952089
43.1622016389 -77.6110725847
33.9680469542 -84.5680670756
43.0488843868 -76.1451762636
42.3315517195 -83.0445352406
34.0750788256 -117.816471886

In [657]:
%%time
# создадим ДатаФрейм, где в первом столбце посчитаем число точек в каждом кластере от 0 до его окончания
# а два других столбца - координаты этих центров (широта и долгота)

clusters = pd.DataFrame({'label_counts':[sum(labels==label) for label in np.unique(labels)],
                         'latitude':cluster_centers[:, 0],
                         'longitude':cluster_centers[:, 1]})

Wall time: 10min 2s

In [683]:
%%time
# альтернативный вариант предыдущего, который работает 5 ms(!) вместо 10 мин
# через метод для ДатаФрейм .value_counts()

clusters = pd.DataFrame({'label_counts':pd.DataFrame({'counts':labels})['counts'].value_counts().sort_index(),
                         'latitude':cluster_centers[:, 0],
                         'longitude':cluster_centers[:, 1]})

Wall time: 4 ms

In [554]:
# тест на число центров
len(cluster_centers)

3230

In [677]:
clusters

      label_counts   latitude   longitude
0            12506  40.717716  -73.991835
1             4692  33.449438 -112.002140
2             3994  33.446380 -111.901888
3             3363  41.878244  -87.629843
4             3526  37.688682 -122.409330
5             2409  38.886165  -77.048783
6             2297  33.357345 -111.822654
7             1601  33.766636  -84.393289
8             1526  42.363219  -71.073688
9             1378  47.606245 -122.332044
10            1298  36.117229 -115.171073
11            1081  34.060398 -118.248709
12            1006  44.977948  -93.267301
13            1007  30.267184  -97.743119
14             714  40.766876  -73.833353
15             868  39.735830 -104.986580
16             870  39.951680  -75.162736
17             645  34.035487 -118.438998
18             808  32.980893 -117.078118
19             807  32.803021  -96.769897
20             612  37.347871 -121.947287
21             722  28.543502  -81.376429
22             754  32.711344 -117.153639
23             747  32.221713 -110.926535
24             539  34.127402 -118.351884
25             656  29.762698  -95.382314
26             580  43.040533  -87.914333
27             577  33.817306 -117.891249
28             679  37.390292 -122.087286
29             564  25.785812  -80.217938
...            ...        ...         ...
3200             5  41.671765  -72.949270
3201             1  43.637500  -94.102222
3202             1  41.148003 -102.973122
3203             1  30.799956  -81.689826
3204             1  48.905436    2.039499
3205             1  52.222484    5.483562
3206             1 -19.815731  -43.954223
3207             1  40.623399  -79.729771
3208             1  34.742908 -117.318703
3209             1  42.780640  -72.141749
3210             1  38.910067  -75.201229
3211             1  36.481464  -94.273264
3212             1  51.751530   -0.333892
3213             1  44.897500  -85.985278
3214             1  26.111840  -97.168126
3215             1  48.118146 -123.430741
3216             1  33.961124 -116.501678
3217             1  46.013007  -91.484621
3218             1  36.624595  -77.124688
3219             1  44.151902  -79.868329
3220             1  41.022823  -80.857834
3221             1  34.240840 -117.077260
3222             1  29.889066  -97.690262
3223             1  50.758120    3.312890
3224             1  49.879913 -119.449625
3225             1  -6.136240  106.140126
3226             1  44.959223  -70.153954
3227             1  46.732388 -117.000165
3228             1  29.689956  -95.899676
3229             1  31.378792  -95.321332

[3230 rows x 3 columns]

In [556]:
# альтернативный подсчет числа точек в кластере

labels_pd = pd.DataFrame({'label':labels})

labels_pd.label.value_counts()

0       12506
1        4692
2        3994
4        3526
3        3363
5        2409
6        2297
7        1601
8        1526
9        1378
10       1298
11       1081
13       1007
12       1006
31        907
16        870
15        868
18        808
19        807
22        754
23        747
21        722
14        714
28        679
25        656
17        645
20        612
30        594
26        580
27        577
        ...
2790        1
2726        1
2662        1
2598        1
2470        1
2638        1
2406        1
2278        1
2257        1
2321        1
2385        1
2449        1
2982        1
3046        1
3110        1
3174        1
3214        1
3150        1
3086        1
3022        1
2958        1
2894        1
2217        1
2830        1
2281        1
2766        1
2345        1
2702        1
2409        1
3166        1
Name: label, dtype: int64

In [557]:
# оставляем кластеры для реального рассмотрения в дальнейшем - это кластеры с числом точек > 15 (т.е. убираем мелкие) 
# и для наглядности сортируем по числу точек в кластере

clusters_real = clusters[clusters.label_counts>15].sort_values('label_counts', ascending=False)

In [558]:
clusters_real

     label_counts   latitude   longitude
0           12506  40.717716  -73.991835
1            4692  33.449438 -112.002140
2            3994  33.446380 -111.901888
4            3526  37.688682 -122.409330
3            3363  41.878244  -87.629843
5            2409  38.886165  -77.048783
6            2297  33.357345 -111.822654
7            1601  33.766636  -84.393289
8            1526  42.363219  -71.073688
9            1378  47.606245 -122.332044
10           1298  36.117229 -115.171073
11           1081  34.060398 -118.248709
13           1007  30.267184  -97.743119
12           1006  44.977948  -93.267301
31            907  33.569735 -112.314016
16            870  39.951680  -75.162736
15            868  39.735830 -104.986580
18            808  32.980893 -117.078118
19            807  32.803021  -96.769897
22            754  32.711344 -117.153639
23            747  32.221713 -110.926535
21            722  28.543502  -81.376429
14            714  40.766876  -73.833353
28            679  37.390292 -122.087286
25            656  29.762698  -95.382314
17            645  34.035487 -118.438998
20            612  37.347871 -121.947287
30            594  45.523483 -122.676280
26            580  43.040533  -87.914333
27            577  33.817306 -117.891249
..            ...        ...         ...
566            17  53.543564 -113.490452
557            17  32.609857  -85.480783
558            17  30.079941  -95.417160
568            17  33.475867  -82.007049
559            17  37.957702 -121.290780
567            17  34.686785 -118.154163
564            17  55.686826   12.589943
560            17  41.446016  -75.668077
561            17  37.130501 -121.654390
593            16  34.935238  -82.234904
400            16  36.256130  -94.124312
595            16  38.041182 -122.150053
590            16   9.958968  -84.105633
672            16  32.598960  -96.895365
283            16  47.298368 -122.361738
663            16  41.486201  -70.597742
588            16  37.204643  -80.412689
589            16  37.270702  -76.707457
586            16  42.765354  -78.782601
584            16  60.169954   24.937730
450            16  42.087315  -88.284169
581            16  32.319940 -106.763654
580            16  43.096171  -88.402632
579            16  44.058173 -121.315310
577            16  42.115474  -79.286368
576            16  36.825228 -119.702919
575            16  35.528078 -108.742584
574            16  50.111512    8.680506
573            16  43.685271  -79.759924
578            16  43.680856  -72.287952

[593 rows x 3 columns]

In [559]:
# формируем датафрейм со списком и координатами офисов 

list_offices = pd.DataFrame({'City':['Los Angeles', 'Miami', 'London', 'Amsterdam', 'Beijing', 'Sydney'],
                            'latitude':[33.751277, 25.867736, 51.503016, 52.378894, 39.366487, -33.868457],
                            'longitude':[-118.188740, -80.324116, -0.075479, 4.885084, 117.036146, 151.205134]})

In [560]:
list_offices

          City   latitude   longitude
0  Los Angeles  33.751277 -118.188740
1        Miami  25.867736  -80.324116
2       London  51.503016   -0.075479
3    Amsterdam  52.378894    4.885084
4      Beijing  39.366487  117.036146
5       Sydney -33.868457  151.205134

In [561]:
# делаем датафрейм с расстояниями от всех кластеров до всех офисов
# для простоты землю вблизи иссследуемой территории считаем плоской (евклидова метрика) и считаем в градусах 
# (для перехода в км нужно учесть, что в 1 град ~ 100 км)

distances = pd.DataFrame({City: \
                          np.sqrt((clusters_real.latitude - list_offices.latitude[list_offices['City']==City].values)**2 + \
                                  (clusters_real.longitude - list_offices.longitude[list_offices['City']==City].values)**2) \
                          for City in list_offices['City']})

In [562]:
# альтернативный вариант предыдущей операции

distances = pd.DataFrame({list_offices.City[i]:np.sqrt((clusters_real.latitude - list_offices.latitude[i])**2 + \
(clusters_real.longitude - list_offices.longitude[i])**2) for i in range(len(list_offices))})

In [565]:
distances

      Amsterdam     Beijing      London  Los Angeles       Miami      Sydney
0     79.734255  191.032760   74.699066    44.742571   16.143720  237.227259
1    118.410081  229.114704  113.373317     6.193959   32.572679  271.679532
2    118.311609  229.014565  113.274833     6.294241   32.474475  271.581649
4    128.139261  239.451355  123.111360     5.772048   43.713842  282.816724
3     93.108944  204.681402   88.081797    31.621097   17.598580  250.558794
5     83.037415  194.085524   78.000478    41.459174   13.424131  239.568541
6    118.247687  228.937678  113.210850     6.378262   32.376722  271.482828
7     91.197829  201.507260   86.163056    33.795454    8.885426  245.114510
8     76.616243  188.133702   71.584087    47.895654   18.912202  234.987538
9    127.306621  239.509966  122.318651    14.461227   47.299353  285.413235
10   121.152477  232.229952  116.119414     3.834585   36.323031  275.416558
11   124.488948  235.344678  119.453578     0.314884   38.799413  277.884333
13   104.983217  214.971929   99.949630    20.740355   17.965991  257.077057
12    98.431015  210.378298   93.419977    27.333428   23.080863  256.872589
31   118.698835  229.423406  113.662183     5.877529   32.904019  272.011492
16    81.006723  192.199773   75.970583    43.470473   14.999911  238.100452
15   110.596698  222.023034  105.568963    14.495237   28.294190  266.555408
18   123.496174  234.201333  118.459641     1.351655   37.435994  276.486417
19   103.522703  213.906763   98.486042    21.439823   17.848302  256.781429
22   123.613358  234.284328  118.576652     1.467274   37.459962  276.494667
23   117.552725  228.074619  112.515445     7.421535   31.255097  270.334834
21    89.493991  198.707541   84.480671    37.178854    2.875254  240.809958
14    79.570292  190.874637   74.535151    44.906781   16.251596  237.092290
28   127.853983  239.131598  122.825283     5.333020   43.323570  282.429737
25   102.786397  212.635450   97.754970    23.152577   15.553779  254.665061
17   124.680831  235.535481  119.645464     0.378688   38.980205  278.062769
20   127.719936  238.991958  122.691099     5.202131   43.177331  282.283564
30   127.745444  239.791484  122.746533    12.598526   46.691051  285.156289
26    93.268090  204.983407   88.245554    31.667492   18.775418  251.183423
27   124.171496  234.992924  119.135805     0.304731   38.399026  277.478334
..          ...         ...         ...          ...         ...         ...
566  118.381265  230.962122  113.433328    20.342284   43.196728  278.755475
557   92.502998  202.629609   87.470094    32.727868    8.488074  245.844645
558  102.751075  212.656171   97.718905    23.065636   15.669800  254.778244
568   88.924503  199.130342   83.891360    36.182739    7.792042  242.740974
559  126.997320  238.331089  121.969769     5.226534   42.713403  281.803158
567  124.304735  235.236862  119.270119     0.936146   38.844409  277.946492
564    8.384942  105.713589   13.338560   132.605551   97.581763  165.028240
560   81.291694  192.715443   76.258666    43.211293   16.259197  239.047534
561  127.454902  238.701009  122.425491     4.840443   42.837384  281.945335
593   88.849162  199.320314   83.813259    35.973324    9.266645  243.368445
400  100.313529  211.183365   95.276705    24.194441   17.273221  255.154845
595  127.841684  239.189871  122.814586     5.839117   43.561472  282.655364
590   98.583963  203.280145   93.738864    41.565997   16.352026  239.357474
672  103.684645  214.038527   98.648131    21.324531   17.886187  256.849713
283  127.348205  239.529250  122.358523    14.175246   47.185100  285.353968
663   76.264722  187.645861   71.230093    48.215476   18.399424  234.253795
588   86.636990  197.460670   81.599699    37.933570   11.337253  242.277117
589   82.979517  193.754938   77.942407    41.630316   11.962770  238.757050
586   84.218179  195.848242   79.190642    40.423971   16.967786  242.419263
584   21.513001   94.418761   26.472182   145.544265  110.709974  157.437861
450   93.735939  205.338342   88.709799    31.044692   18.067572  251.245707
581  113.436336  223.910706  108.399064    11.514396   27.215438  266.324613
580   93.748423  205.472630   88.726326    31.217612   19.028436  251.665324
579  126.474400  238.397626  121.468194    10.770680   44.846069  283.443031
577   84.794876  196.341759   79.765223    39.791386   16.280845  242.692996
576  125.555116  236.752704  120.524528     3.426647   40.874892  279.979947
575  114.870349  225.811356  109.835051     9.611809   30.015522  269.051473
574    4.421114  108.887099    8.865865   127.919752   92.247403  165.426433
573   85.090284  196.843453   80.067021    39.692041   17.826465  243.637926
578   77.661660  189.373250   72.634891    46.962526   19.541934  236.565119

[593 rows x 6 columns]

In [563]:
# тест для типов величин (1)
{City:list_offices.longitude[list_offices['City']==City] for City in list_offices['City']}

{'Amsterdam': 3    4.885084
 Name: longitude, dtype: float64, 'Beijing': 4    117.036146
 Name: longitude, dtype: float64, 'London': 2   -0.075479
 Name: longitude, dtype: float64, 'Los Angeles': 0   -118.18874
 Name: longitude, dtype: float64, 'Miami': 1   -80.324116
 Name: longitude, dtype: float64, 'Sydney': 5    151.205134
 Name: longitude, dtype: float64}

In [564]:
# тест для типов величин (2)
{list_offices.City[i]:list_offices.longitude[i] for i in range(len(list_offices))}

{'Amsterdam': 4.885084,
 'Beijing': 117.036146,
 'London': -0.075479000000000004,
 'Los Angeles': -118.18874,
 'Miami': -80.324116000000004,
 'Sydney': 151.20513399999999}

In [566]:
# определяем расстояния от всех кластеров до ближайшего офиса (то есть минимальное)
# сортируем по расстоянию (по возрастанию) и "отрезаем" 20 первых (минимальных)
# обращаю внимание, что индексы объектов Sieries сохраняются по всем операциям и равны первоначальным в clusters

dist_20_min = distances.min(axis=1).sort_values()[:20]
dist_20_min

413    0.007835
373    0.009353
405    0.022674
58     0.050058
51     0.070848
29     0.134109
166    0.167406
92     0.188876
87     0.195779
42     0.211811
285    0.222233
315    0.271301
119    0.294979
55     0.302270
27     0.304731
11     0.314884
32     0.338810
158    0.340846
17     0.378688
47     0.386706
dtype: float64

In [686]:
# индексы первых 20 отобраных центров для размещения рекламных баннеров

dist_20_min.index

Int64Index([413, 373, 405,  58,  51,  29, 166,  92,  87,  42, 285, 315, 119,
             55,  27,  11,  32, 158,  17,  47],
           dtype='int64', name=u'cluster number ')

In [687]:
# определяем ближайшие офисы по этим индексам
# для чего сначала определяем офисы с минимальными расстояниями (через аналог argmin)
# а затем по индексам вырезаем нужные офисы

dist_20_cities_argmin = distances.idxmin(axis=1)
dist_20_cities_argmin[dist_20_min.index]

cluster number
413         Sydney
373      Amsterdam
405          Miami
58          London
51     Los Angeles
29           Miami
166          Miami
92           Miami
87     Los Angeles
42     Los Angeles
285    Los Angeles
315          Miami
119    Los Angeles
55           Miami
27     Los Angeles
11     Los Angeles
32     Los Angeles
158          Miami
17     Los Angeles
47     Los Angeles
dtype: object

In [569]:
# собираем предыдущие 2 операции в наглядный итоговый датафрейм с минимальными дистанциями до офисов и самими офисами, 
# плюс индексы-номера кластеров

clusters_min_dist_cities = pd.DataFrame({'dist':dist_20_min, 
                                        'city':dist_20_cities_argmin[dist_20_min.index]})
clusters_min_dist_cities.index.name = 'cluster number '
clusters_min_dist_cities

                        city      dist
cluster number
413                   Sydney  0.007835
373                Amsterdam  0.009353
405                    Miami  0.022674
58                    London  0.050058
51               Los Angeles  0.070848
29                     Miami  0.134109
166                    Miami  0.167406
92                     Miami  0.188876
87               Los Angeles  0.195779
42               Los Angeles  0.211811
285              Los Angeles  0.222233
315                    Miami  0.271301
119              Los Angeles  0.294979
55                     Miami  0.302270
27               Los Angeles  0.304731
11               Los Angeles  0.314884
32               Los Angeles  0.338810
158                    Miami  0.340846
17               Los Angeles  0.378688
47               Los Angeles  0.386706

In [570]:
# номер кластера с минимальным расстоянием до офиса

ind_min = dist_20_min.index[0]
ind_min

413

In [571]:
# тест координаты
clusters_real.ix[ind_min]['latitude']

-33.860630428571433

In [572]:
# запишем координаты этого офиса

with open('task1_ans.txt', 'w') as ans:
    ans.write(str(clusters_real.ix[ind_min]['latitude']) + ' ' +
              str(clusters_real.ix[ind_min]['longitude']))

# Работа завершена

## далее некоторые тесты-исследования

In [573]:
clusters_real.ix[ind_min]['latitude']

-33.860630428571433

In [574]:
list_offices[list_offices['City']=='London']

     City   latitude  longitude
2  London  51.503016  -0.075479

In [575]:
list_offices[list_offices['City']=='London'].latitude

2    51.503016
Name: latitude, dtype: float64

In [576]:
list_offices.latitude[list_offices['City']=='London']

2    51.503016
Name: latitude, dtype: float64

In [577]:
a = list_offices[list_offices['City']=='London'].latitude

In [578]:
type(a)

pandas.core.series.Series

In [579]:
a.iloc[0]

51.503016000000002

In [580]:
clusters_min_dist_cities.ix[11]
# ix = выбор по первоночально сформировнным меткам
# iloc - выбор по текущему номеру строки (и, видимо, колонки)

city    Los Angeles
dist       0.314884
Name: 11, dtype: object

In [581]:
clusters_min_dist_cities.iloc[11]

city       Miami
dist    0.271301
Name: 315, dtype: object

In [583]:
np.unique(labels)

array([   0,    1,    2, ..., 3227, 3228, 3229], dtype=int64)

In [585]:
%time
[sum(labels==label) for label in np.unique(labels)]

Wall time: 0 ns

[12506,
 4692,
 3994,
 3363,
 3526,
 2409,
 2297,
 1601,
 1526,
 1378,
 1298,
 1081,
 1006,
 1007,
 714,
 868,
 870,
 645,
 808,
 807,
 612,
 722,
 754,
 747,
 539,
 656,
 580,
 577,
 679,
 564,
 594,
 907,
 449,
 502,
 452,
 104,
 431,
 410,
 388,
 400,
 369,
 367,
 384,
 347,
 345,
 342,
 314,
 273,
 314,
 316,
 355,
 281,
 336,
 293,
 271,
 246,
 263,
 258,
 254,
 243,
 229,
 291,
 182,
 155,
 137,
 193,
 186,
 197,
 196,
 189,
 191,
 187,
 203,
 178,
 192,
 169,
 173,
 153,
 157,
 199,
 220,
 164,
 162,
 155,
 126,
 152,
 56,
 100,
 141,
 142,
 190,
 117,
 138,
 133,
 135,
 131,
 134,
 122,
 130,
 109,
 132,
 135,
 135,
 120,
 119,
 116,
 110,
 91,
 114,
 114,
 79,
 98,
 112,
 74,
 110,
 67,
 126,
 106,
 110,
 74,
 103,
 102,
 101,
 100,
 85,
 99,
 72,
 99,
 118,
 95,
 98,
 84,
 27,
 99,
 95,
 97,
 97,
 92,
 91,
 103,
 71,
 95,
 87,
 99,
 95,
 33,
 85,
 65,
 121,
 78,
 83,
 81,
 79,
 101,
 79,
 61,
 79,
 78,
 42,
 84,
 78,
 68,
 57,
 63,
 76,
 74,
 80,
 76,
 52,
 56,
 74,
 74,
 74,
 73,
 51,
 71,
 76,
 77,
 69,
 78,
 69,
 69,
 44,
 68,
 68,
 52,
 67,
 67,
 66,
 66,
 65,
 53,
 59,
 64,
 36,
 63,
 63,
 54,
 63,
 62,
 84,
 43,
 61,
 61,
 61,
 61,
 60,
 58,
 50,
 56,
 24,
 46,
 58,
 58,
 57,
 58,
 57,
 56,
 56,
 48,
 56,
 56,
 57,
 42,
 55,
 38,
 37,
 82,
 51,
 37,
 53,
 54,
 53,
 134,
 52,
 52,
 58,
 50,
 50,
 38,
 42,
 44,
 51,
 52,
 50,
 50,
 50,
 50,
 50,
 36,
 49,
 49,
 52,
 48,
 49,
 44,
 46,
 50,
 58,
 47,
 38,
 44,
 47,
 49,
 46,
 46,
 38,
 49,
 46,
 40,
 44,
 45,
 49,
 43,
 45,
 45,
 45,
 45,
 45,
 44,
 43,
 40,
 32,
 16,
 45,
 37,
 43,
 36,
 42,
 42,
 45,
 42,
 44,
 47,
 42,
 51,
 41,
 41,
 41,
 40,
 40,
 40,
 33,
 40,
 59,
 53,
 41,
 39,
 37,
 30,
 39,
 35,
 24,
 38,
 38,
 38,
 32,
 38,
 38,
 59,
 42,
 35,
 41,
 37,
 35,
 37,
 36,
 36,
 43,
 36,
 38,
 36,
 37,
 33,
 11,
 24,
 35,
 35,
 35,
 34,
 34,
 44,
 27,
 33,
 34,
 34,
 34,
 34,
 35,
 37,
 35,
 33,
 33,
 37,
 33,
 33,
 27,
 31,
 33,
 42,
 21,
 32,
 32,
 32,
 37,
 46,
 32,
 37,
 32,
 32,
 31,
 31,
 31,
 31,
 31,
 28,
 31,
 28,
 25,
 37,
 31,
 31,
 31,
 17,
 25,
 30,
 34,
 30,
 28,
 32,
 12,
 32,
 15,
 27,
 64,
 29,
 32,
 29,
 29,
 29,
 16,
 29,
 29,
 29,
 28,
 28,
 28,
 28,
 25,
 24,
 28,
 28,
 28,
 28,
 29,
 28,
 28,
 28,
 28,
 26,
 28,
 27,
 27,
 27,
 26,
 27,
 27,
 27,
 27,
 27,
 28,
 27,
 27,
 27,
 26,
 23,
 27,
 26,
 26,
 27,
 26,
 28,
 25,
 26,
 26,
 29,
 24,
 26,
 26,
 25,
 16,
 26,
 25,
 19,
 23,
 24,
 24,
 25,
 24,
 24,
 24,
 24,
 20,
 24,
 26,
 21,
 32,
 22,
 24,
 23,
 23,
 21,
 14,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 20,
 23,
 23,
 23,
 22,
 22,
 23,
 21,
 22,
 22,
 24,
 22,
 29,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 21,
 21,
 17,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 31,
 17,
 20,
 20,
 20,
 15,
 20,
 20,
 20,
 19,
 20,
 20,
 19,
 23,
 19,
 21,
 19,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 21,
 19,
 19,
 19,
 18,
 15,
 27,
 18,
 21,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 17,
 17,
 17,
 17,
 17,
 13,
 14,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 13,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 26,
 19,
 16,
 11,
 16,
 15,
 16,
 16,
 16,
 15,
 19,
 16,
 22,
 16,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 12,
 17,
 15,
 15,
 15,
 15,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 11,
 14,
 15,
 14,
 14,
 14,
 14,
 14,
 13,
 14,
 15,
 14,
 14,
 14,
 15,
 14,
 14,
 15,
 14,
 14,
 18,
 14,
 14,
 13,
 11,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 11,
 13,
 13,
 13,
 10,
 13,
 13,
 13,
 12,
 13,
 13,
 16,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 16,
 13,
 13,
 10,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 11,
 12,
 12,
 12,
 12,
 7,
 12,
 12,
 13,
 8,
 12,
 19,
 12,
 11,
 8,
 12,
 11,
 12,
 11,
 10,
 11,
 11,
 13,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 11,
 26,
 11,
 11,
 11,
 11,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 11,
 11,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 11,
 15,
 11,
 12,
 10,
 10,
 10,
 10,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 11,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 9,
 9,
 8,
 9,
 9,
 9,
 10,
 9,
 9,
 9,
 10,
 9,
 9,
 9,
 9,
 8,
 9,
 9,
 5,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 4,
 8,
 8,
 8,
 5,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 23,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 6,
 8,
 11,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 10,
 7,
 7,
 7,
 7,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 ...]

In [607]:
%%time
[sum(labels==label) for label in np.unique(labels)]

Wall time: 10min

[12506,
 4692,
 3994,
 3363,
 3526,
 2409,
 2297,
 1601,
 1526,
 1378,
 1298,
 1081,
 1006,
 1007,
 714,
 868,
 870,
 645,
 808,
 807,
 612,
 722,
 754,
 747,
 539,
 656,
 580,
 577,
 679,
 564,
 594,
 907,
 449,
 502,
 452,
 104,
 431,
 410,
 388,
 400,
 369,
 367,
 384,
 347,
 345,
 342,
 314,
 273,
 314,
 316,
 355,
 281,
 336,
 293,
 271,
 246,
 263,
 258,
 254,
 243,
 229,
 291,
 182,
 155,
 137,
 193,
 186,
 197,
 196,
 189,
 191,
 187,
 203,
 178,
 192,
 169,
 173,
 153,
 157,
 199,
 220,
 164,
 162,
 155,
 126,
 152,
 56,
 100,
 141,
 142,
 190,
 117,
 138,
 133,
 135,
 131,
 134,
 122,
 130,
 109,
 132,
 135,
 135,
 120,
 119,
 116,
 110,
 91,
 114,
 114,
 79,
 98,
 112,
 74,
 110,
 67,
 126,
 106,
 110,
 74,
 103,
 102,
 101,
 100,
 85,
 99,
 72,
 99,
 118,
 95,
 98,
 84,
 27,
 99,
 95,
 97,
 97,
 92,
 91,
 103,
 71,
 95,
 87,
 99,
 95,
 33,
 85,
 65,
 121,
 78,
 83,
 81,
 79,
 101,
 79,
 61,
 79,
 78,
 42,
 84,
 78,
 68,
 57,
 63,
 76,
 74,
 80,
 76,
 52,
 56,
 74,
 74,
 74,
 73,
 51,
 71,
 76,
 77,
 69,
 78,
 69,
 69,
 44,
 68,
 68,
 52,
 67,
 67,
 66,
 66,
 65,
 53,
 59,
 64,
 36,
 63,
 63,
 54,
 63,
 62,
 84,
 43,
 61,
 61,
 61,
 61,
 60,
 58,
 50,
 56,
 24,
 46,
 58,
 58,
 57,
 58,
 57,
 56,
 56,
 48,
 56,
 56,
 57,
 42,
 55,
 38,
 37,
 82,
 51,
 37,
 53,
 54,
 53,
 134,
 52,
 52,
 58,
 50,
 50,
 38,
 42,
 44,
 51,
 52,
 50,
 50,
 50,
 50,
 50,
 36,
 49,
 49,
 52,
 48,
 49,
 44,
 46,
 50,
 58,
 47,
 38,
 44,
 47,
 49,
 46,
 46,
 38,
 49,
 46,
 40,
 44,
 45,
 49,
 43,
 45,
 45,
 45,
 45,
 45,
 44,
 43,
 40,
 32,
 16,
 45,
 37,
 43,
 36,
 42,
 42,
 45,
 42,
 44,
 47,
 42,
 51,
 41,
 41,
 41,
 40,
 40,
 40,
 33,
 40,
 59,
 53,
 41,
 39,
 37,
 30,
 39,
 35,
 24,
 38,
 38,
 38,
 32,
 38,
 38,
 59,
 42,
 35,
 41,
 37,
 35,
 37,
 36,
 36,
 43,
 36,
 38,
 36,
 37,
 33,
 11,
 24,
 35,
 35,
 35,
 34,
 34,
 44,
 27,
 33,
 34,
 34,
 34,
 34,
 35,
 37,
 35,
 33,
 33,
 37,
 33,
 33,
 27,
 31,
 33,
 42,
 21,
 32,
 32,
 32,
 37,
 46,
 32,
 37,
 32,
 32,
 31,
 31,
 31,
 31,
 31,
 28,
 31,
 28,
 25,
 37,
 31,
 31,
 31,
 17,
 25,
 30,
 34,
 30,
 28,
 32,
 12,
 32,
 15,
 27,
 64,
 29,
 32,
 29,
 29,
 29,
 16,
 29,
 29,
 29,
 28,
 28,
 28,
 28,
 25,
 24,
 28,
 28,
 28,
 28,
 29,
 28,
 28,
 28,
 28,
 26,
 28,
 27,
 27,
 27,
 26,
 27,
 27,
 27,
 27,
 27,
 28,
 27,
 27,
 27,
 26,
 23,
 27,
 26,
 26,
 27,
 26,
 28,
 25,
 26,
 26,
 29,
 24,
 26,
 26,
 25,
 16,
 26,
 25,
 19,
 23,
 24,
 24,
 25,
 24,
 24,
 24,
 24,
 20,
 24,
 26,
 21,
 32,
 22,
 24,
 23,
 23,
 21,
 14,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 20,
 23,
 23,
 23,
 22,
 22,
 23,
 21,
 22,
 22,
 24,
 22,
 29,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 21,
 21,
 17,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 31,
 17,
 20,
 20,
 20,
 15,
 20,
 20,
 20,
 19,
 20,
 20,
 19,
 23,
 19,
 21,
 19,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 21,
 19,
 19,
 19,
 18,
 15,
 27,
 18,
 21,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 17,
 17,
 17,
 17,
 17,
 13,
 14,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 13,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 26,
 19,
 16,
 11,
 16,
 15,
 16,
 16,
 16,
 15,
 19,
 16,
 22,
 16,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 12,
 17,
 15,
 15,
 15,
 15,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 11,
 14,
 15,
 14,
 14,
 14,
 14,
 14,
 13,
 14,
 15,
 14,
 14,
 14,
 15,
 14,
 14,
 15,
 14,
 14,
 18,
 14,
 14,
 13,
 11,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 11,
 13,
 13,
 13,
 10,
 13,
 13,
 13,
 12,
 13,
 13,
 16,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 16,
 13,
 13,
 10,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 11,
 12,
 12,
 12,
 12,
 7,
 12,
 12,
 13,
 8,
 12,
 19,
 12,
 11,
 8,
 12,
 11,
 12,
 11,
 10,
 11,
 11,
 13,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 11,
 26,
 11,
 11,
 11,
 11,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 11,
 11,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 11,
 15,
 11,
 12,
 10,
 10,
 10,
 10,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 11,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 9,
 9,
 8,
 9,
 9,
 9,
 10,
 9,
 9,
 9,
 10,
 9,
 9,
 9,
 9,
 8,
 9,
 9,
 5,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 4,
 8,
 8,
 8,
 5,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 23,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 6,
 8,
 11,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 10,
 7,
 7,
 7,
 7,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 ...]

In [680]:
%%time
pd.DataFrame({'label_counts':labels})['label_counts'].value_counts().sort_index().values

Wall time: 5 ms

array([12506,  4692,  3994, ...,     1,     1,     1], dtype=int64)

In [624]:
index = pd.DataFrame({'label_counts':labels})['label_counts'].value_counts().index

In [627]:
clusters1 = pd.DataFrame({pd.DataFrame({'label_counts':labels})['label_counts'].value_counts(),
                         'latitude':cluster_centers[ind, 0] for ind in index,
                         'longitude':cluster_centers[ind, 1] for ind in index})

SyntaxError: invalid syntax (<ipython-input-627-fa79aef164cd>, line 2)

In [667]:
clusters1 = pd.DataFrame(pd.DataFrame({'label_counts':labels})['label_counts'].value_counts(), \
                         pd.Series({cluster_centers[ind, 0] for ind in index}),
                         pd.Series({cluster_centers[ind, 1] for ind in index}))

TypeError: 'set' type is unordered

In [675]:
pd.Series({'long':[cluster_centers[ind, 0] for ind in index]})

long    [40.7177163973, 33.4494380502, 33.4463802704, ...
dtype: object

In [664]:
clusters1

          -92.243349
36.003193        NaN

In [ ]:
clusters1 = pd.DataFrame({'label_counts':[sum(labels==label) for label in np.unique(labels)],
                         'latitude':cluster_centers[:, 0],
                         'longitude':cluster_centers[:, 1]})

In [646]:
clusters1 = pd.DataFrame({'label_counts':pd.DataFrame({'label_counts':labels})['label_counts'].value_counts().sort_index(),
                         'latitude':cluster_centers[:, 0],
                         'longitude':cluster_centers[:, 1]})

In [647]:
clusters1

      label_counts   latitude   longitude
0            12506  40.717716  -73.991835
1             4692  33.449438 -112.002140
2             3994  33.446380 -111.901888
3             3363  41.878244  -87.629843
4             3526  37.688682 -122.409330
5             2409  38.886165  -77.048783
6             2297  33.357345 -111.822654
7             1601  33.766636  -84.393289
8             1526  42.363219  -71.073688
9             1378  47.606245 -122.332044
10            1298  36.117229 -115.171073
11            1081  34.060398 -118.248709
12            1006  44.977948  -93.267301
13            1007  30.267184  -97.743119
14             714  40.766876  -73.833353
15             868  39.735830 -104.986580
16             870  39.951680  -75.162736
17             645  34.035487 -118.438998
18             808  32.980893 -117.078118
19             807  32.803021  -96.769897
20             612  37.347871 -121.947287
21             722  28.543502  -81.376429
22             754  32.711344 -117.153639
23             747  32.221713 -110.926535
24             539  34.127402 -118.351884
25             656  29.762698  -95.382314
26             580  43.040533  -87.914333
27             577  33.817306 -117.891249
28             679  37.390292 -122.087286
29             564  25.785812  -80.217938
...            ...        ...         ...
3200             5  41.671765  -72.949270
3201             1  43.637500  -94.102222
3202             1  41.148003 -102.973122
3203             1  30.799956  -81.689826
3204             1  48.905436    2.039499
3205             1  52.222484    5.483562
3206             1 -19.815731  -43.954223
3207             1  40.623399  -79.729771
3208             1  34.742908 -117.318703
3209             1  42.780640  -72.141749
3210             1  38.910067  -75.201229
3211             1  36.481464  -94.273264
3212             1  51.751530   -0.333892
3213             1  44.897500  -85.985278
3214             1  26.111840  -97.168126
3215             1  48.118146 -123.430741
3216             1  33.961124 -116.501678
3217             1  46.013007  -91.484621
3218             1  36.624595  -77.124688
3219             1  44.151902  -79.868329
3220             1  41.022823  -80.857834
3221             1  34.240840 -117.077260
3222             1  29.889066  -97.690262
3223             1  50.758120    3.312890
3224             1  49.879913 -119.449625
3225             1  -6.136240  106.140126
3226             1  44.959223  -70.153954
3227             1  46.732388 -117.000165
3228             1  29.689956  -95.899676
3229             1  31.378792  -95.321332

[3230 rows x 3 columns]