# Проект 2

### Работа с данными от ССП (Гаврилов)

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn
%matplotlib inline

In [3]:
data = pd.read_csv('data/tickets_k1/export-3082-tickets-list-page-01-2017-08-29_3e992.csv', 
                   na_values="NaN", sep=';', header=None, encoding = "Windows-1251")

In [4]:
data.columns = ['num', 'email', 'data', 'text']

In [6]:
data.head()

,num,email,data,text
0,186750.0,uraire@yandex.ru,2017-08-29 12:25:12+03,"Простите не зеленая кнопка , а желтая у меня н..."
1,186749.0,uraire@yandex.ru,2017-08-29 12:20:16+03,Уважаемая техподдержка Нужна вашас помощь.!У м...
2,186748.0,hottee@i.ua,2017-08-29 12:15:13+03,Добрый день Галина!\n\nА есть отзывы о курсе У...
3,186747.0,viktoriaprokopisena100@gmail.com,2017-08-29 11:55:14+03,"Здравствуйте ! Подскажите,пожалуйста,могу ли я..."
4,186746.0,m5.dowlatow@gmail.com,2017-08-29 11:55:14+03,dowlatow\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t...

In [21]:
data_pay = pd.read_csv("data/Kto ya-(2017-08-08).csv", na_values="NaN", sep=';', encoding = "Windows-1251")

In [22]:
data_pay.head()

,№,Статус,Дата выписки,Дата оплаты,Товар,Контакт,Email,Телефон,Адрес,Сумма,Валюта,Система оплаты
0,153571,Оплачен,08.08.2017 9:44,08.08.2017 9:47,Лицензия на предоставление доступа к БД. Школа...,Чижкова Анна,t89099059385@gmail.com,79099059385,NaN,18000.00,руб,Cloudpayments
1,153570,Оплачен,08.08.2017 8:55,08.08.2017 8:56,Лицензия на предоставление доступа к БД. Школа...,Чеботарева Виктория,nika-violin@mail.ru,79851387717,NaN,5600.00,руб,Cloudpayments
2,153569,Дубль,08.08.2017 8:54,Не оплачен,Лицензия на предоставление доступа к БД. Школа...,Чеботарева Виктория,nika-violin@mail.ru,79851387717,NaN,8000.00,руб,Не выбрана
3,153568,Создан,08.08.2017 8:37,Не оплачен,Где скрывается Ваш успех,Ковригина Ирина,kia-69@mail.ru,79126716464,NaN,370.00,руб,Cloudpayments
4,153567,Оплачен,08.08.2017 6:44,08.08.2017 6:46,Лицензия на предоставление доступа к БД. Школа...,Шулькин Ирина,shupuwka2@yahoo.com,16263741677,NaN,800.00,руб,PayPal

In [23]:
data_pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19149 entries, 0 to 19148
Data columns (total 12 columns):
№                 19149 non-null int64
Статус            19149 non-null object
Дата выписки      19149 non-null object
Дата оплаты       19149 non-null object
Товар             19149 non-null object
Контакт           16886 non-null object
Email             19149 non-null object
Телефон           15927 non-null object
Адрес             6 non-null object
Сумма             19149 non-null object
Валюта            19149 non-null object
Система оплаты    19149 non-null object
dtypes: int64(1), object(11)
memory usage: 1.8+ MB

In [41]:
data_pay.describe()

                   №
count   19149.000000
mean   144004.919369
std      5514.798155
min    134534.000000
25%    139206.000000
50%    143997.000000
75%    148784.000000
max    153571.000000

In [38]:
data[data['email'] == 'kdowlatow']

,num,email,data,text
25324,NaN,kdowlatow,2017-05-31 00:16:32+03,"Давайте попробуем\n----\n \n\n\nС уважением, К..."

In [36]:
data['email'].value_counts()

m2.dowlatow@gmail.com                 3034
evgenijzharko@gmail.com               2424
software.dowlatow@gmail.com           2379
m3.dowlatow@gmail.com                 1687
Kujel                                 1015
Roxana                                1008
m7.dowlatow@gmail.com                  875
Olifirenko                             874
Kuznecova                              867
Aleksandr                              842
Kozlova                                664
Irina                                  663
Alshaldi                               645
Habarov                                531
paymentcenter@yamoney.ru               347
Balatskay                              281
support@dowlatow.ru                    276
Balatskiy                              259
demopaymentcenter@yamoney.ru           232
Ulynova                                229
Manager2                               212
Elena                                  208
Evgeny                                 196
awkhabaroff@mail.ru                    139
Manager3                               126
Kosareva                               115
subscribe@info.topexpert.pro           104
Anna_Watts                              90
Nazyrova                                90
sofia.prisacaru@gmail.com               87
                                      ...
barabi@inbox.ru                          1
kdowlatow                                1
irinushka@email.ua                       1
irina-ajax@mail.ru                       1
v.v.s.72@yandex.ru                       1
prodawez393@gmail.com                    1
vli14326@gmail.com                       1
woodl3208@gmail.com                      1
i_gorenkova@mail.ru                      1
industrialbiotech@yahoo.com              1
382366072.7e1f2dc0@reply.podio.com       1
mishhenko-natalya@mail.ru                1
ametist@bk.ru                            1
m.andreeva@ag-brand.com                  1
evgenia.tarasenko@gmail.com              1
tyuv200@yandex.ru                        1
sales@foodintime.ru                      1
susanna78@list.ru                        1
younger-bear@mail.ru                     1
lanalutsk@gmail.com                      1
support1@kovka-dlya-vas.ru               1
gorodshahti63@gmail.com                  1
yu.zhibrova@gmail.com                    1
swetarada@rambler.ru                     1
vikymaster01@gmail.com                   1
olga@reiki.ee                            1
steshenko.s@gmail.com                    1
dowlatow                                 1
paseka-m@bk.ru                           1
vera_fo_m@mail.ru                        1
Name: email, Length: 3260, dtype: int64